body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: gray;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}
.flex{
    margin: 0;
    background-image: url(img/shop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color: gray;
    border: 1px solid black;
    border-radius: 28px;
}
div{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /*padding-top: 10px;*/
    margin: 10px;
    border: 1px solid black;
    border-radius: 28px;
    background-color: white;
    width: 240px;
}
.m574{
    position: fixed;
    top: 200px;
    height: 160px;
    width: 180px;
}
.m5740{
    position: fixed;
    top: 190px;
    height: 200px;
    width: 180px;
}
.m997{
    position: fixed;
    top: 190px;
    height: 160px;
    width: 180px;
}
.check1{
    position: relative;
    top: 190px;
    left: auto;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    height: 50px;
    width: 190px;
    font-family: Andale Mono, monospace;
    font-size: 16px;
}
.check2{
    position: relative;
    top: 190px;
    left: auto;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    height: 50px;
    width: 190px;
    font-family: Andale Mono, monospace;
    font-size: 16px;
}
.check3{
    position: relative;
    top: 190px;
    left: auto;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    height: 50px;
    width: 190px;
    font-family: Andale Mono, monospace;
    font-size: 16px;
}
.check1:hover{
    border: 3px solid darkcyan;
    background-color: antiquewhite;
    color: black;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}
.check2:hover{
    border: 3px solid darkcyan;
    background-color: antiquewhite;
    color: black;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}
.check3:hover{
    border: 3px solid darkcyan;
    background-color: antiquewhite;
    color: black;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}
.buy1{
    height: 50px;
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Andale Mono, monospace;
    position: relative;
    top: 183px;
    font-size: 16px;
}
.buy2{
    height: 50px;
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Andale Mono, monospace;
    position: relative;
    top: 183px;
    font-size: 16px;
}
.buy3{
    height: 50px;
    width: 190px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Andale Mono, monospace;
    position: relative;
    top: 183px;
    font-size: 16px;
}
.buy1:hover{
    border: 3px solid darkcyan;
    background-color: darkseagreen;
    color: black;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}
.buy2:hover{
    border: 3px solid darkcyan;
    background-color: darkseagreen;
    color: black;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}
.buy3:hover{
    border: 3px solid darkcyan;
    background-color: darkseagreen;
    color: black;
    font-size: 17px;
    transition: 0.2s;
    cursor: pointer;
}